# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/
# created by virtualenv automatically

# Jupyter Notebook
.ipynb_checkpoints/

# Claude
CLAUDE.md

